<div class="row copy-text">
   <div class="col-md-12 offset-md-6">
      <p id="notice primary"><%= notice %></p>

      <p>
        <strong>Description:</strong>
        <%= @kudo.description %>
      </p>

      <p>
        <strong>Given by:</strong>
        <%= Member.find(@kudo.given_by_id).email %>
      </p>
   </div>
</div>
