<div class="container-fluid home-background">
   <div class="row" style="margin-left: 66px;">
      <div class="col-md-12 offset-md-4 main-logo"> 
         Kudos!<br />
         <i class="fa fa-handshake-o" aria-hidden="true" style="margin-left: 86px;"></i><br />
         <p class="sub-title"><i>"Give 'em a pat on the Back"</i></p>
      <hr />
      </div>
      <div class="col-md-12 offset-md-5"></div>
   </div>
</div>