<div class="container-fluid home-background">
   <div class="row justify-content-md-center" >
      <div class="col-md-4 main-logo">
         Kudos!<br />
         <i class="fa fa-handshake-o" aria-hidden="true" style="margin-left: 86px;"></i><br />
         <p class="sub-title"><i>"Give 'em a pat on the Back"</i>
         </p>
      </div>
   </div>
</div>