<div class="container-fluid home-background">
   <div class="row">
      <div class="col-md-12 offset-md-5"></div>
      <div class="col-md-12 offset-md-4"> 
         Kudos!<br />
         <i class="fa fa-handshake-o" aria-hidden="true" style="margin-left: 86px;"></i>
      </div>
      <div class="col-md-12 offset-md-5"></div>
   </div>
</div>